<%= @updated_by.name %> added you as an approver for <%= @merge_request.to_reference %>

<%= url_for(project_merge_request_url(@merge_request.target_project, @merge_request)) %>

<%= merge_path_description(@merge_request, 'to') %>
Author:    <%= sanitize_name(@merge_request.author_name) %>
Assignee:  <%= sanitize_name(@merge_request.assignee_name) %>
<%= render_if_exists 'notify/merge_request_approvers', presenter: @mr_presenter %>
